@import url(https://allfont.net/allfont.css?fonts=star-jedi);

$titlemobile: 17px;
$titledesktop: 48px;
$movietitle: 32px;
$maincolor: #887221;
$secondarycolor: #d7bf78;
$headerbackground: #000;
$mainbackground: #231f20;
$favbackground: linear-gradient(to left, rgba(254,251,245,0.3), rgba(254,251,245,1));
$mainfont: 'Star Jedi', arial;
$secondaryfont: 'Stencil Std', arial;