@import '../variables/Variables.scss';

.card {
    background-color: $mainbackground;
    padding: 3rem;
    width: 100%;
    margin-bottom: 0;
    font-family: $secondaryfont;
    color: $secondarycolor;
    display: grid;
    text-align: center;
    margin-bottom: 3rem;
    border-radius: 15px;
    box-shadow: 0px 12px 18px 8px rgba(0,0,0,0.62);
    cursor: pointer;
    transition: .2s;

    .title {
        font-size: $movietitle;
        margin: 0;
    }

    .subtitle {
        font-size: 24px;
        font-weight: normal;
    }

    .divide {
        font-family: monospace;
        font-size: 32px;
        color: white;
        margin: 0;
    }

    
}

.card:hover {
    background-color: $headerbackground;
    transition: .2s;
}

.favorite {
    width: fit-content;
    height: fit-content;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    padding: .5rem;
    color: $secondarycolor;
    background-color: #af171e;
    border: 1px solid#881d20;
    border-radius: 20%;
    transition: .5s;
    justify-content: center;
    @media (max-width: 700px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.favorite:hover {
    background-color: green;
    transition: .5s;
}

.favorite:active {
    background-color: #af171e;
    transition: .5s;
}
