.list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    column-count: 3;
    height: fit-content;
    @media (max-width: 1000px) {
        column-count: 2;
    }
}

.charlist {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 40vh;
    @media (max-width: 1000px) {
        height: fit-content;
        flex-wrap: nowrap;
        display:block;
        column-count: 2;
    }
}

.listitem {
    margin-bottom: 10px;
    width: fit-content;
    @media (max-width: 550px) {
        min-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

.charlistitem {
    margin-bottom: 10px;
    cursor: pointer;
    width: fit-content;
    position: relative;
    @media (max-width: 700px) {
        min-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

.tooltiptext {
    visibility: hidden;
    width: fit-content;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1000;
    top: -1px;
    left: 105%;
}

.charlistitem:hover .tooltiptext {
    visibility: visible;
  }